@{
    ViewBag.Title = "Detail Jawaban Kuesioner - Tracer Study";
}

<div>
    <h2 class="text-center">Detail Jawaban Kuesioner</h2>
</div>

<div style="overflow-x: auto; width: 100%;">
    <table id="dataTable" style="width: 100%;" class="table table-hover table-bordered table-condensed text-center">
        <thead>
            <tr>
                <th class="align-middle text-center" width="1%">No.</th>
                <th class="align-middle text-center" width="5%">ID Pertanyaan</th>
                <th class="align-middle text-center" width="50%">Deskripsi Pertanyaan</th>
                <th class="align-middle text-center" width="20%">Kode</th>
                <th class="align-middle text-center" width="20%">Jawaban Kuesioner</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div id="grafikHasil" class="row w-100 p-3">
        <div class="col-md-12 mb-4 justify-content-center">
            <div class="card card-stats mb-4 p-3" style="border-radius: 10px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>
                                @* <span style="font-size: Larger; font-weight: bold;">Data Alumni Berdasarkan Tahun</span><br> *@
                                <br>
                            </center>
                        </div>
                    </div>

                    <canvas id="myKuesionerChartBar" style="display: block; box-sizing: border-box; height: 394px; width: 100%;"></canvas>
                </div>
            </div>
        </div>
    </div>

    <a asp-controller="PertanyaanKuesioner" asp-action="Index" id="btnCancelDetail" class="btn btn-secondary">Kembali</a>

</div>



@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var jenis = @ViewBag.Jenis;
            var idPertanyaan = '@ViewBag.IdPku';

            console.log(idPertanyaan, jenis);

            var dataJawaban = [];
            var deskripsiJawaban = [];
            var idJawaban = [];
            var jumlahJawaban = {
                nilai: [],
                jumlah: []
            };

            if (jenis == 1) {
                $('#dataTable').hide();
                getJawabanKuesioner(idPertanyaan);
                dataDetailJawabanKuesioner(idPertanyaan);

                var ctx = document.getElementById('myKuesionerChartBar').getContext('2d');
                var newChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: deskripsiJawaban,
                        datasets: [{
                            label: 'Data Alumni Berdasarkan Prodi Tahun ',
                            data: jumlahJawaban.jumlah,
                            borderWidth: 1,
                            backgroundColor: 'rgb(47, 5, 162)',
                            borderColor: 'rgb(255, 255, 255)',
                            borderRadius: 10
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                                suggestedMin: 30,
                                suggestedMax: 100,
                                ticks: {
                                    stepSize: 20
                                }
                            },
                            x: {
                                beginAtZero: true
                            }
                        }
                    }
                });
                $('#grafikHasil').show();

            } else {
                $('#grafikHasil').hide();
                getJawabanTable(idPertanyaan);
                $('#dataTable').show();

            }

            function dataDetailJawabanKuesioner(id) {
                var hostname = "https://localhost:44384/";
                var method = "GET";
                var url = hostname + "GetHasilPertanyaanKuesioner?id_pku=" + id;
                $.ajax({
                    url: url,
                    method: method,
                    contentType: "application/json",
                    headers: { 'Authorization': ' Bearer ' + '@ViewBag.JwtToken' },
                    success: function (data) {
                        list = data.data;

                        for (let j = 0; j < dataJawaban.length; j++) {
                            jumlahJawaban.nilai[j] = dataJawaban[j];
                            jumlahJawaban.jumlah[j] = 0;
                            var i = 0;
                            list.forEach(function (item) {
                                if (dataJawaban[j] == item.jawabanKuesioner) {
                                    jumlahJawaban.jumlah[j] = item.jumlahKoresponden;
                                }
                                i++;
                            });
                            
                        }
                    },
                    error: function (data) {
                        console.log(data.responseText);
                    }
                });
            }

            function getJawabanKuesioner(id) {
                var hostname = "https://localhost:44384/";
                var method = "GET";
                var url = hostname + "GetJawabanKuesionerByPertanyaan?id_pku=" + id;
                $.ajax({
                    url: url,
                    method: method,
                    contentType: "application/json",
                    headers: { 'Authorization': ' Bearer ' + '@ViewBag.JwtToken' },
                    success: function (data) {
                        list = data.data;
                        var i = 0;
                        list.forEach(function (item) {
                            dataJawaban[i] = item.nilaiJawaban;
                            deskripsiJawaban[i] = item.deskripsiJawaban;
                            idJawaban[i] = item.id_jawabanKuesioner;
                            i++;
                        });
                    },
                    error: function (data) {
                        console.log(data.responseText);
                    }
                });
            }

            function getJawabanTable(id) {
                var no = 1;
                $('#dataTable').DataTable({
                    "language": {
                        "emptyTable": "Tidak ada Data Hasil Kuesioner",
                        "zeroRecords": "Tidak ada Data Hasil Kuesioner"
                    },
                    "dom": 'Bfrti<"bottom-wrapper"p>',
                    scrollX: true,
                    "bLengthChange": false,
                    "bInfo": false,
                    "pageLength": 10,
                    "ajax": {
                        "url": 'https://localhost:44384/GetHasilPertanyaanKuesionerTable?id_pku=' + id,
                        "type": "GET",
                        "datatype": "json",
                        "headers" : { 'Authorization': ' Bearer ' + '@ViewBag.JwtToken' },
                        "error": function (xhr, error, thrown) {
                            console.log("Error fetching data from server:", error);
                            console.log("Server response:", xhr.responseText);
                        }
                    },
                    "columns": [
                        {
                            "data": "id_pku",
                            "render": function (data) {
                                return no++;
                            }
                        },
                        { "data": "id_pku" },
                        { "data": "deskripsiPertanyaan" },
                        { "data": "kode" },
                        { "data": "jawabanKuesioner" }
                    ],
                    "buttons": []
                });
                $(document).on('click', '.detail-button', function () {
                    var id = $(this).data('id');
                    var jenis = $(this).data('jenis');
                    lihatGrafik(id, jenis);
                });
            }
        });
    </script>
}
