
@{
    ViewBag.Title = "Detail Jenis Periode - Tracer Study";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Assuming you have a shared layout
}

<h2 class="text-center">Daftar Detail Jenis Periode</h2>

<div class="container">
        <label class="font-weight-bold font-size-lg">Salin Kuesioner</label>
    <hr />

    <div class="row mb-3 mt-4 text-center">
        <div class="col-md-3">
            <div class="form-group">
                <label>
                    Kuesioner Asal
                    <span style="color: red;">*</span>
                    @* @Html.ValidationMessageFor(model => model.KuesionerAsal, "", new { @class = "text-danger" })<br />
                    @Html.DropDownListFor(model => model.KuesionerAsal, Model.KuesionerAsalList, new { @class = "form-control" }) *@
                </label>
            </div>
        </div>

        <div class="col-md-2 mb-3" style="padding-top: 32px;">
            <h4><i class="fa fa-arrow-right"></i></h4>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>
                    Kuesioner Tujuan
                    <span style="color: red;">*</span>
                    @* @Html.ValidationMessageFor(model => model.KuesionerTujuan, "", new { @class = "text-danger" })<br />
                    @Html.DropDownListFor(model => model.KuesionerTujuan, Model.KuesionerTujuanList, new { @class = "form-control" }) *@
                </label>
            </div>
        </div>

        <div class="col-md-4" style="padding-top: 27px;">
            <button type="button" class="btn btn-primary btn-block mb-1" id="btnKirim">
                <i class="fa fa-copy"></i>&nbsp;Salin Kuesioner
            </button>
        </div>
    </div>

    <br />

    <div style="overflow-x: auto; width: 100%;">
        <table id="dataTable" style="width: 100%;" class="table table-hover table-bordered table-condensed text-center">
            <thead>
                <tr>
                    <th class="align-middle text-center" width="1%">No.</th>
                    <th class="align-middle text-center">Jenis Kuesioner</th>
                    <th class="align-middle text-center">Periode (Tahun)</th>
                    <th class="align-middle text-center">Keterangan</th>
                    <th class="align-middle text-center" width="1%">Aksi</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "language": {
                    "emptyTable": "Tidak ada Data Detail Jenis Periode",
                    "zeroRecords": "Tidak ada Data Detail Jenis Periode"
                },
                "dom": 'Bfrti<"bottom-wrapper"p>',
                scrollX: true,
                "bLengthChange": false,
                "bInfo": false,
                "pageLength": 10,
                "buttons": [
                    {
                        text: '<i class="fa fa-plus"></i> Tambah',
                        className: 'btn btn-primary',
                        action: function (e, dt, node, config) {
                            window.location.href = '@Url.Action("Tambah", "DetailJenisPeriode")';
                        },
                        init: function (api, node, config) {
                            $(node).removeClass('dt-button');
                        },
                    },
                ]
            });
        });

    </script>
}
