
@{
    ViewBag.Title = "Kode Prodi - Tracer Study";
}

<div>
    <h2 class="text-center">Daftar Kode Prodi</h2>
</div>

<div>
    <div style="overflow-x: auto; width: 100%;">
        <table id="dataTable" style="width: 100%;" class="table table-hover table-bordered table-condensed text-center">
            <thead>
                <tr>
                    <th class="align-middle text-center" width="1%">No.</th>
                    <th class="align-middle text-center">Kode PT</th>
                    <th class="align-middle text-center">Nama Prodi</th>
                    <th class="align-middle text-center">Kode Prodi</th>
                    <th class="align-middle text-center" width="1%">Aksi</th>
                </tr>
            </thead>
            <tbody>
                @* @foreach (var item in Model)
                {
                    <tr style="height: 45px;">
                        <td>@item.No</td>
                        <td>@item.KodePT</td>
                        <td>@item.NamaProdi</td>
                        <td>@item.KodeProdi</td>
                        <td>
                            <a href='@Url.Action("Edit", "Kode_Prodi", new { id = item.Id })' rel="tooltip" data-placement="left" title="Ubah Kode Prodi">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </a> &nbsp;
                            <a href="javascript:void(0)" class="remove" data-id="@item.Id" rel="tooltip" data-placement="left" title="Hapus Kode Prodi">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                } *@
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "language": {
                    "emptyTable": "Tidak ada Data Kode Prodi",
                    "zeroRecords": "Tidak ada Data Kode Prodi"
                },
                "dom": 'Bfrti<"bottom-wrapper"p>',
                scrollX: true,
                "bLengthChange": false,
                "bInfo": false,
                "pageLength": 10,
                "buttons": [
                    {
                        text: '<i class="fa fa-plus"></i> Tambah',
                        className: 'btn btn-primary',
                        action: function (e, dt, node, config) {
                            window.location.href = '@Url.Action("Tambah", "Kode_Prodi")'; 
                        },
                        init: function (api, node, config) {
                            $(node).removeClass('dt-button');
                        },
                    },
                ]
            });
        });

    </script>
}
