
@{
    ViewBag.Title = "Detail Pertanyaan Jawaban - Tracer Study";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Adjust the layout path as needed
}

<h2 class="text-center">Daftar Detail Pertanyaan Jawaban</h2>


<div style="overflow-x: auto; width: 100%;">
    <table id="dataTable" style="width: 100%;" class="table table-hover table-bordered table-condensed text-center">
        <thead>
            <tr>
                <th class="align-middle text-center" width="1%">No.</th>
                <th class="align-middle text-center">Jawaban</th>
                <th class="align-middle text-center">Pertanyaan Turunan</th>
                <th class="align-middle text-center">Keterangan</th>
                <th class="align-middle text-center" width="1%">Aksi</th>
            </tr>
        </thead>
        <tbody>
            @* @if (Model.Any())
            {
                int i = 0;
                foreach (var item in Model)
                {
                    i++;
                    <tr style="height: 45px;">
                        <td>@i</td>
                        <td>@item.DeskripsiJawaban</td>
                        <td>@item.DeskripsiPertanyaan</td>
                        <td>@item.Keterangan</td>
                        <td>
                            @if (item.Keterangan != "Sudah ada Hasil Kuesioner")
                            {
                                <a href='@Url.Action("Edit", "DetailPertanyaanJawaban", new { id = item.Id })' rel="tooltip" data-placement="left"
                                   title="Ubah Detail Pertanyaan Turunan">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </a> &nbsp;
                                <a href="javascript:void(0)" class="remove" data-id="@item.Id" rel="tooltip" data-placement="left"
                                   title="Hapus Detail Pertanyaan Turunan">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            }
                            else
                            {
                                <i class="fa fa-edit" aria-hidden="true"></i> &nbsp;
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">Tidak ada data Detail Pertanyaan Turunan</td>
                </tr>
            } *@
        </tbody>
    </table>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "language": {
                    "emptyTable": "Tidak ada Data Detail Pertanyaan Turunan",
                    "zeroRecords": "Tidak ada Data Detail Pertanyaan Turunan"
                },
                "dom": 'Bfrti<"bottom-wrapper"p>',
                scrollX: true,
                "bLengthChange": false,
                "bInfo": false,
                "pageLength": 10,
                "buttons": [
                    {
                        text: '<i class="fa fa-plus"></i> Tambah',
                        className: 'btn btn-primary',
                        action: function (e, dt, node, config) {
                            window.location.href = '@Url.Action("Tambah", "DetailPertanyaanJawaban")';
                        },
                        init: function (api, node, config) {
                            $(node).removeClass('dt-button');
                        },
                    },
                ]
            });
        });

        $(".remove").click(function () {
            var id = $(this).data('id');

            Swal.fire({
                title: 'Apakah anda yakin menghapus Detail Pertanyaan Jawaban dengan ID ' + id,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#5cb85c',
                cancelButtonColor: '#d9534f',
                confirmButtonText: 'Ya Hapus!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("Hapus", "DetailPertanyaanJawaban")',
                        method: "POST",
                        data: { id: id },
                        success: function () {
                            Swal.fire({
                                title: 'Berhasil !',
                                text: 'Detail Pertanyaan Jawaban dengan ID ' + id + '. Berhasil Dihapus.',
                                type: 'success',
                                icon: 'success'
                            }).then(okay => {
                                if (okay) {
                                    window.location.href = '@Url.Action("Index", "DetailPertanyaanJawaban")';
                                }
                            });
                        },
                        error: function () {
                            Swal.fire({
                                title: 'Error !',
                                text: 'Gagal menghapus Detail Pertanyaan Jawaban dengan ID ' + id + '.',
                                type: 'error',
                                icon: 'error'
                            });
                        }
                    });
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    Swal.fire({
                        title: 'Batal !',
                        text: 'Detail Pertanyaan Jawaban dengan ID ' + id + '. Batal Dihapus.',
                        type: 'error',
                        icon: 'error'
                    });
                }
            });
        });
    </script>
}
