@{
    ViewData["Title"] = "Pertanyaan Kuesioner";
}

<h2 class="text-center">Daftar Pertanyaan Kuesioner</h2>

<div style="overflow-x: auto; width: 100%;">
    <table id="dataTable" style="width: 100%;" class="table table-hover table-bordered table-condensed text-center">
        <thead>
            <tr>
                <th class="align-middle text-center" width="1%">ID</th>
                <th class="align-middle text-center" width="1%">Urutan</th>
                <th class="align-middle text-center">Deskripsi Pertanyaan</th>
                <th class="align-middle text-center">Kode Pertanyaan</th>
                <th class="align-middle text-center">Periode - Jenis Kuesioner</th>
                <th class="align-middle text-center">Keterangan</th>
                <th class="align-middle text-center" width="1%">Aksi</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "language": {
                    "emptyTable": "Tidak ada Data Pertanyaan Kuesioner",
                    "zeroRecords": "Tidak ada Data Pertanyaan Kuesioner"
                },
                "dom": 'Bfrti<"bottom-wrapper"p>',
                scrollX: true,
                "bLengthChange": false,
                "bInfo": false,
                "pageLength": 10,
                "ajax": {
                    "url": '@Url.Action("GetAllPertanyaanKuesioner", "PertanyaanKuesioner")',
                    "type": "GET",
                    "datatype": "json",
                    "error": function (xhr, error, thrown) {
                        console.log("Error fetching data from server:", error);
                        console.log("Server response:", xhr.responseText);
                    }
                },
                "columns": [
                    { "data": "Id" },
                    { "data": "NoUrutan" },
                    { "data": "DeskripsiPertanyaan" },
                    { "data": "Kode" },
                    { "data": "PeriodeJenisKuesioner" },
                    { "data": "Keterangan" },
                    {
                        "data": "Id",
                        "render": function (data) {
                            return '<a href="@Url.Action("Edit", "Pertanyaan_Kuesioner")/' + data + '" rel="tooltip" data-placement="left" title="Ubah Pertanyaan Kuesioner"><i class="fa fa-edit" aria-hidden="true"></i></a> &nbsp;' +
                                '<a href="javascript:void(0)" class="remove" data-id="' + data + '" rel="tooltip" data-placement="left" title="Hapus Pertanyaan Kuesioner"><i class="fa fa-trash" aria-hidden="true"></i></a>';
                        }
                    }
                ],
                "buttons": [
                    {
                        text: '<i class="fa fa-plus"></i> Tambah',
                        className: 'btn btn-primary',
                        action: function (e, dt, node, config) {
                            window.location.href = '@Url.Action("Tambah", "Pertanyaan_Kuesioner")';
                        },
                        init: function (api, node, config) {
                            $(node).removeClass('dt-button');
                        },
                    },
                ]
            });

            $('#dataTable tbody').on('click', '.remove', function () {
                var id = $(this).data('id');
                console.log(id);
                Swal.fire({
                    title: 'Apakah anda yakin menghapus Pertanyaan Kuesioner dengan ID ' + id,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#5cb85c',
                    cancelButtonColor: '#d9534f',
                    confirmButtonText: 'Ya Hapus!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '@Url.Action("Hapus", "Pertanyaan_Kuesioner")?id=' + id,
                            method: "POST"

                        });
                        Swal.fire({
                            title: 'Berhasil !',
                            text: 'Pertanyaan Kuesioner dengan ID ' + id + '. Berhasil Dihapus.',
                            type: 'success',
                            icon: 'success'
                        }).then(okay => {
                            if (okay) {
                                window.location.href = '@Url.Action("Index", "Pertanyaan_Kuesioner")'
                            }
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.fire({
                            title: 'Batal !',
                            text: 'Pertanyaan Kuesioner dengan ID ' + id + '. Batal Dihapus.',
                            type: 'error',
                            icon: 'error'
                        });
                    }
                });
            });
        });
    </script>
}
